* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bj-color: #fff;
}
img {
    width: 100%;
}
body {
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bj-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.1em;
    color: var(--text-color);
    font-weight: 400;
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--text-color);
}

/* Cart Modal */

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bj-color);
    box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.cart.active {
    visibility: visible;
    opacity: 1;
    right: 25px;
}
.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}
.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box {
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title {
    font-size: 1rem;
}
.cart-price {
    font-weight: 600;
}
.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    font-size: 1rem;
    text-align: center;
}
.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total .total-price {
    margin-left: 0.5rem;
}
.total .total-title {
    font-size: 1rem;
    font-weight: 600;
}
.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bj-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .4s ease;
}
.btn-buy:hover {
    background: var(--text-color);
}

#close-cart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
}

.shop {
    margin-top: 2rem;
}

/* SHOP CONTENT */

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}
.product-box {
    position: relative;
}
.product-box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: .4s;
}
.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}
.product-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.price {
    font-weight: 600;
}
.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--text-color);
    color: var(--bj-color);
    padding: 7px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 3px;
    transition: .5s;
}
.add-cart:hover {
    color: #99b439;
    background: hsl(249, 32%, 17%);
}